        .table-cell-checkbox{
            opacity: 0;
        }

        tr:hover  .table-cell-checkbox{
            opacity: 1;
        }

        .table-cell-checkbox:checked {
            opacity: 1;
        }

        tr {
            color: yellow;
        }