.desktop-19, .desktop-19 * { box-sizing: border-box; }.desktop-19 {background: #212332; width: 100%; height: 100%; position: relative; overflow: hidden;}
 .rectangle-390 {background: #2a2d3e; border-radius: 10px; border-style: solid; border-color: #000000; border-width: 1px; width: 306px; height: 947px; position: absolute; left: 1614px;top: 99px; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);}
 .frame-791 {display: flex; flex-direction: column; gap: 0px; align-items: center; justify-content: flex-start; position: absolute; left: 1738px;top: 249px;}
 ._29-1 {color: #ffffff; text-align: left; font: 600 30px 'Poppins', sans-serif; position: relative;}
 .of-128-gb {color: #ffffff; text-align: left; font: 400 16px 'Poppins', sans-serif; position: relative;}
 .ellipse-17 {border-radius: 50%; border-style: solid; border-color: rgba(38, 151, 255, 0.07); border-width: 15px; width: 180px; height: 180px; position: absolute; left: 1682px;top: 186px;}
 .rectangle-1 {background: #2a2d3e; border-radius: 10px; border-style: solid; border-color: #000000; border-width: 1px; width: 220px; height: 1046px; position: absolute; left: 4px;top: 0px; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);}
 .home {color: #ffffff; text-align: left; font: 500 24px 'Poppins', sans-serif; position: absolute; left: 250px;top: 37px;}
 .log-out {color: #ffffff; text-align: left; font: 600 16px 'Poppins', sans-serif; opacity: 0.6000000238418579; position: absolute; left: 75px;top: 1014px;}
 .vector {opacity: 0.6000000238418579; position: absolute; left: 40px;top: 1014px; overflow: visible;}
 .profile-frame {width: 191px; height: 50px; position: absolute; left: 1710px;top: 30px; overflow: hidden;}
 .rectangle-339 {background: #2a2d3e; border-radius: 10px; border-style: solid; border-color: rgba(255, 255, 255, 0.10); border-width: 1px; width: 191px; height: 50px; position: absolute; left: 0px;top: 0px;}
 .angelina-joli {color: #ffffff; text-align: left; font: 600 14px 'Poppins', sans-serif; opacity: 0.800000011920929; position: absolute; left: 56px;top: 15px;}
 .rectangle-117 {background: #2697ff; border-radius: 10px; opacity: 0.10000000149011612; width: 36px; height: 36px; position: absolute; left: 7px;top: 7px;}
 .mask-group {width: 36px; height: 36px; position: absolute; left: 7px;top: 7px; overflow: hidden;}
 .rectangle-317 {background: #2697ff; border-radius: 10px; width: 36px; height: 36px; position: absolute; left: 0px;top: 0px;}
 .istockphoto-1180926773-612-x-612-removebg-preview-1 {border-radius: 10px; width: 73.71px; height: 48px; position: absolute; left: -12.86px;top: 3.43px;}
 .vector2 {opacity: 0.699999988079071; position: absolute; left: 168px;top: 23px; overflow: visible;}
 .frame-463 {display: flex; flex-direction: row; gap: 2px; align-items: center; justify-content: flex-start; position: absolute; left: 75px;top: 38px;}
 .screenshot-2021-01-26-101018-copy-1 {flex-shrink: 0; width: 20px; height: 32px; position: relative;}
 .shop {color: #ffffff; text-align: left; font: 500 18px 'Poppins', sans-serif; position: relative;}
 .storage-details {color: #ffffff; text-align: left; font: 500 18px 'Poppins', sans-serif; position: absolute; left: 1698px;top: 129px;}
 .frame-487 {display: flex; flex-direction: column; gap: 10px; align-items: flex-start; justify-content: flex-start; position: absolute; left: 1635px;top: 394px;}
 .group-792 {flex-shrink: 0; width: 266px; height: 77px; position: static;}
 .rectangle-376 {border-radius: 15px; border-style: solid; border-color: rgba(38, 151, 255, 0.15); border-width: 2px; width: 266px; height: 77px; position: absolute; left: 0px;top: 0px;}
 .group-785 {position: absolute; left: 20px;top: 26px; overflow: visible;}
 .documents-files {color: #ffffff; text-align: left; font: 500 14px 'Poppins', sans-serif; position: absolute; left: 55px;top: 16px;}
 ._1-328-files {color: #ffffff; text-align: left; font: 400 12px 'Poppins', sans-serif; opacity: 0.699999988079071; position: absolute; left: 55px;top: 45px;}
 ._1-3-gb {color: #ffffff; text-align: right; font: 500 12px 'Poppins', sans-serif; position: absolute; left: 216px;top: 30px;}
 .frame-792 {display: flex; flex-direction: column; gap: 10px; align-items: flex-start; justify-content: flex-start; position: absolute; left: 1635px;top: 496px;}
 .vector5 {position: absolute; left: 20px;top: 28px; overflow: visible;}
 .media-files {color: #ffffff; text-align: left; font: 500 14px 'Poppins', sans-serif; position: absolute; left: 58px;top: 16px;}
 ._1-328-files2 {color: #ffffff; text-align: left; font: 400 12px 'Poppins', sans-serif; opacity: 0.699999988079071; position: absolute; left: 58px;top: 45px;}
 ._15-1-gb {color: #ffffff; text-align: right; font: 500 12px 'Poppins', sans-serif; position: absolute; left: 212px;top: 30px;}
 .frame-793 {display: flex; flex-direction: column; gap: 10px; align-items: flex-start; justify-content: flex-start; position: absolute; left: 1635px;top: 598px;}
 .frame-7922 {flex-shrink: 0; width: 266px; height: 77px; position: relative; overflow: hidden;}
 .vector6 {position: absolute; left: 20px;top: 29px; overflow: visible;}
 .other-files {color: #ffffff; text-align: left; font: 500 14px 'Poppins', sans-serif; position: absolute; left: 58px;top: 16px;}
 ._12-7-gb {color: #ffffff; text-align: right; font: 500 12px 'Poppins', sans-serif; position: absolute; left: 210px;top: 30px;}
 .frame-794 {display: flex; flex-direction: column; gap: 10px; align-items: flex-start; justify-content: flex-start; position: absolute; left: 1635px;top: 700px; overflow: hidden;}
 .vector7 {position: absolute; left: 20px;top: 26px; overflow: visible;}
 .unknown {color: #ffffff; text-align: left; font: 500 14px 'Poppins', sans-serif; position: absolute; left: 58px;top: 16px;}
 ._428-files {color: #ffffff; text-align: left; font: 400 12px 'Poppins', sans-serif; opacity: 0.699999988079071; position: absolute; left: 58px;top: 45px;}
 .upload-frame {padding: 0px 8px 0px 8px; display: flex; flex-direction: column; gap: 10px; align-items: flex-start; justify-content: flex-start; width: 1350px; position: absolute; left: 242px;top: 99px; overflow: hidden;}
 .upload-files {color: #ffffff; text-align: left; font: 700 20px/150% 'Manrope', sans-serif; position: relative;}
 #uploadForm { flex-shrink: 0; height: 168px; width: 100%; opacity: 0;}
 .rectangle {background: #fafafa; border-radius: 20px; align-self: stretch;flex-shrink: 0; height: 168px; width: 100%; position: relative; box-shadow: 0px 10px 40px 12px rgba(45, 108, 103, 0.09);}
 

 .drag-and-drop-files {color: #060d01; text-align: left; font: 700 18px/150% 'Manrope', sans-serif; position: absolute; left: calc(50% - 82px);top: 141px;}
 .frame {display: flex; flex-direction: row; gap: 10px; align-items: flex-start; justify-content: flex-start; flex-shrink: 0; position: absolute; left: calc(50% - 31px);top: 71px;}
 .ellipse {background: #e4ddf4; border-radius: 50%; flex-shrink: 0; width: 60px; height: 60px; position: relative;}
 .frame2 {flex-shrink: 0; width: 34px; height: 34px; position: absolute; left: 13px;top: 13px;}
 .group {position: absolute; left: 4.96px;top: 2.83px; overflow: visible;}
 .menu-frame {padding: 12px 5px 12px 5px; display: flex; flex-direction: column; gap: 18px; align-items: flex-start; justify-content: flex-start; position: absolute; left: 14px;top: 110px; overflow: hidden;}
 .documents-frame {display: flex; flex-direction: column; gap: 10px; align-items: flex-start; justify-content: flex-start; flex-shrink: 0; position: relative; border-radius: 10px;}
 .documents-rectangle { border-radius: 10px; flex-shrink: 0; width: 190px; height: 46px; position: relative;}
 .documents-image-rectangle {border-radius: 10px 0px 0px 10px;  flex-shrink: 0; width: 34px; height: 46px; position: absolute; left: 0px;top: 0px; box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.10);}
 .files {color: #ffffff; text-align: left; font: 500 16px 'Poppins', sans-serif; position: absolute; left: 41px;top: 11px;}
 .documents-image {flex-shrink: 0; position: absolute; left: 15px;top: 16px; overflow: visible;}
 .profile {display: flex; flex-direction: column; gap: 10px; align-items: flex-start; justify-content: flex-start; flex-shrink: 0; position: relative;}
 .documents-rectangle2 {background: #2a2d3e; border-radius: 10px; flex-shrink: 0; width: 190px; height: 46px; position: relative;}
 .documents-image-rectangle2 { border-radius: 10px 0px 0px 10px; opacity: 0.5; flex-shrink: 0; width: 34px; height: 46px; position: absolute; left: 0px;top: 0px; box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.10);}
 .profile-image { flex-shrink: 0; position: absolute; left: 15px;top: 16px; overflow: visible;}
 .profile2 {color: #ffffff; text-align: left; font: 500 16px 'Poppins', sans-serif; position: absolute; left: 41px;top: 11px;}
 .my-files-frame {width: 1357px; height: 562px; position: absolute; left: 235px;top: 333px; overflow: hidden;}
 .my-files {color: #ffffff; text-align: left; font: 700 20px 'Manrope', sans-serif; position: absolute; left: 21px;top: -4px;}
 .background-rectangle {background: #2a2d3e; border-radius: 10px; border-style: solid; border-color: #000000; border-width: 1px; width: 1347px; height: 522px; position: absolute; left: 10px;top: 40px; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);}
 .file-name {color: #ffffff; text-align: left; font: 400 12px 'Poppins', sans-serif; opacity: 0.699999988079071; position: absolute; left: 50px;top: 156px;}
 .size {color: #ffffff; text-align: right; font: 400 12px 'Poppins', sans-serif; opacity: 0.699999988079071; position: absolute; left: 1249px;top: 145px;}
 .line-49 {border-style: solid; border-color: #ffffff; border-width: 1px 0 0 0; opacity: 0.05000000074505806; width: 1317px; height: 0px; position: absolute; left: 40px;top: 184px; transform-origin: 0 0; transform: rotate(0deg) scale(1, 1);}
 .vector10 {opacity: 0.5; position: absolute; left: 193.4px;top: 163px; overflow: visible;}
 .frame-460 {display: flex; flex-direction: row; gap: 12px; align-items: center; justify-content: flex-start; position: absolute; left: 254px;top: 156px;}
 .date {color: #ffffff; text-align: right; font: 400 12px 'Poppins', sans-serif; opacity: 0.699999988079071; position: relative;}
 .vector11 {opacity: 0.5; flex-shrink: 0; position: relative; overflow: visible;}
 .vector12 {opacity: 0.5; position: absolute; left: 655.32px;top: 163px; overflow: visible;}
 .search-frame {display: flex; flex-direction: column; gap: 10px; align-items: flex-start; justify-content: flex-start; position: absolute; left: 1004px;top: 63px;}
 .rectangle-2 {background: #212332; border-radius: 10px; flex-shrink: 0; width: 325px; height: 48px; position: relative;}
 .rectangle-16 {background: var(--primary, #2697ff); border-radius: 10px; flex-shrink: 0; width: 38px; height: 38px; position: absolute; left: 282px;top: 5px;}
 .search {color: #ffffff; text-align: left; font: 300 12px 'Poppins', sans-serif; opacity: 0.5; position: absolute; left: 20px;top: 17px;}
 .search2 {opacity: 0.800000011920929; flex-shrink: 0; position: absolute; left: 295px;top: 18px; overflow: visible;}
 .files-table {width: 100%;  position: absolute; 
    /* left: 50px;top: 156px; */
}
.rect { width: 100%;
    height: 168px;
    
    left: 10px;top: 40px;
    background-color: white;
    position: absolute;
    background: #fafafa; border-radius: 20px;
    
}


#uploadForm {
    position: relative;
    background-color: white;
}

input:hover{
    opacity: 0;
}

input{
    opacity: 0;
}

.files-table{
    color: white;
    font: 400 15px 'Poppins';
}

.neg-z-index {
    z-index: 1;
}

.menu-frame>div{
    background-color: #242738b8;
    width: 190px; height: 46px;
    border-radius: 10px;
}

.menu-frame>div:hover, .menu-frame>.menu-img:hover{
    background: linear-gradient(90deg, rgba(38, 151, 255, 1.00) 0%,rgba(102, 182, 255, 1.00) 100%);
}


/* .menu-frame>div:hover{
    background: linear-gradient(90deg, rgba(38, 151, 255, 1.00) 0%,rgba(102, 182, 255, 1.00) 100%);
} */

.table-div{
    border: thin solid red;
    position: absolute; 
    left: 50px;top: 156px;
    overflow: auto;
    height: 300px;
    width: 100%; ;
}

.files-table * {
    border: thin solid red;
}
 


.files-table th{
    border-bottom: thin solid rgba(255, 255, 255, 0.15000);
    color: white;
    font: 400 18px 'Poppins';
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    background-color: rgb(42, 45, 62);

}

.files-table td, .files-table th {
    height: 40px;
    text-align: center;
}

.table-file-modified{
    width: 15%;
}

.table-file-name{
    width: 67%;
}

.files-table .c-d, .files-table .c-h {

    width: 3%;
}




.files-table .table-file-name,.files-table .name-h{

    text-align: left;
}


.table-file-size{
    width: 15%;
}

 #file-options-container{
    color: wheat;
    display: flexbox;
    position: relative;
    top: 100px;
    left: 50px;
 }

 .xd-file {color: #ffffff; text-align: left; font: 400 14px 'Poppins', sans-serif; position: absolute; left: 138.84px;top: 7px; width: 71.93px;}
 .documetns {width: 81px; height: 21px; position: absolute; left: 82px;top: 115px;}
 .documetns2 {color: #ffffff; text-align: left; font: 400 14px 'Poppins', sans-serif; position: absolute; left: 0px;top: 0px;}
 .media {color: #ffffff; text-align: left; font: 400 14px 'Poppins', sans-serif; position: absolute; left: 138.84px;top: 221px; width: 70.33px;}
 .excel-file {color: #ffffff; text-align: left; font: 400 14px 'Poppins', sans-serif; position: absolute; left: 138.84px;top: 327px; width: 97.5px;}
 ._3-5-mb {color: #ffffff; text-align: right; font: 500 14px 'Poppins', sans-serif; position: absolute; left: 584.78px;top: 7px; width: 71.93px;}
 ._15-mb {color: #ffffff; text-align: right; font: 500 14px 'Poppins', sans-serif; position: absolute; left: 594.37px;top: 115px; width: 60.74px;}
 ._15-mb2 {color: #ffffff; text-align: right; font: 500 14px 'Poppins', sans-serif; position: absolute; left: 594.37px;top: 221px; width: 60.74px;}
 ._11-mb {color: #ffffff; text-align: right; font: 500 14px 'Poppins', sans-serif; position: absolute; left: 600.77px;top: 327px; width: 54.34px;}
 .frame-454 {display: flex; flex-direction: column; gap: 10px; align-items: flex-start; justify-content: flex-start; position: absolute; left: 241px;top: 9px;}
 .frame-14 {display: flex; flex-direction: row; gap: 10px; align-items: flex-start; justify-content: flex-start; flex-shrink: 0; position: relative;}
 ._01-03-2021 {color: #ffffff; text-align: left; font: 400 12px 'Poppins', sans-serif; position: relative;}
 .frame-457 {display: flex; flex-direction: column; gap: 10px; align-items: flex-start; justify-content: flex-start; position: absolute; left: 241px;top: 117px;}
 ._23-02-2021 {color: #ffffff; text-align: left; font: 400 12px 'Poppins', sans-serif; position: relative;}
 .frame-788 {display: flex; flex-direction: column; gap: 10px; align-items: flex-start; justify-content: flex-start; position: absolute; left: 241px;top: 223px;}
 .frame-790 {display: flex; flex-direction: column; gap: 10px; align-items: flex-start; justify-content: flex-start; position: absolute; left: 241px;top: 329px;}
 .rectangle-120 {background: #ff43ca; border-radius: 5px; width: 30px; height: 30px; position: absolute; left: 37px;top: 3px;}
 .frame3 {display: flex; flex-direction: row; gap: 10px; align-items: flex-start; justify-content: flex-start;  overflow: visible;}
 .rectangle-315 {background: #ff4343; border-radius: 5px; width: 30px; height: 30px; position: absolute; left: 37px;top: 111px;}
 .frame-798 {display: flex; flex-direction: row; gap: 10px; align-items: flex-start; justify-content: flex-start; position: absolute; left: 46px;top: 119px; overflow: visible;}
 .frame-800 {position: absolute; left: 37px;top: 216px; overflow: visible;}
 .rectangle-388 {background: #19b7e9; border-radius: 5px; width: 30px; height: 30px; position: absolute; left: 37px;top: 323px;}
 .frame-799 {display: flex; flex-direction: row; gap: 0px; align-items: flex-start; justify-content: flex-start; position: absolute; left: 46px;top: 331px; overflow: visible;}
 .sound-file {display: flex; flex-direction: row; gap: 10px; align-items: flex-start; justify-content: center; flex-wrap: wrap; width: 1317px; height: 54px; position: absolute; left: 27px;top: 151px;}
 .rectangle-316 {background: #212332; border-radius: 5px; flex: 1; height: 54px; position: relative;}
 ._40-mb {color: #ffffff; text-align: right; font: 500 14px 'Poppins', sans-serif; position: absolute; left: 1094.22px;top: 16px; width: 140.87px;}
 .frame-455 {display: flex; flex-direction: column; gap: 10px; align-items: flex-start; justify-content: flex-start; flex-shrink: 0; position: absolute; left: 1053px;top: calc(50% - 9px);}
 ._21-02-2021 {color: #ffffff; text-align: center; font: 400 12px 'Poppins', sans-serif; position: relative;}
 .rectangle-3152 {background: #ff7b43; border-radius: 5px; flex-shrink: 0; width: 30px; height: 30px; position: absolute; left: 10px;top: 12px;}
 .vector23 {flex-shrink: 0; position: absolute; left: 15px;top: 17px; overflow: visible;}
 .sound-file2 {color: #ffffff; text-align: left; font: 400 14px 'Poppins', sans-serif; position: absolute; left: 78px;top: calc(50% - 9px); width: 155px;}
 .frame-789 {display: flex; flex-direction: column; gap: 10px; align-items: flex-start; justify-content: flex-start; width: 1317px; position: absolute; left: 27px;top: 257px;}
 .rectangle-3162 {background: #212332; border-radius: 5px; align-self: stretch;flex-shrink: 0; height: 54px; position: relative;}
 .sals-pdf {color: #ffffff; text-align: left; font: 400 14px 'Poppins', sans-serif; position: absolute; left: 180.19px;top: 16px; width: 190.01px;}
 ._9-mb {color: #ffffff; text-align: right; font: 500 14px 'Poppins', sans-serif; position: absolute; left: 1126.98px;top: 16px; width: 108.11px;}
 .frame-4552 {display: flex; flex-direction: column; gap: 10px; align-items: flex-start; justify-content: flex-start; flex-shrink: 0; position: absolute; left: 214px;top: 18px;}
 .rectangle-3153 {background: #19e9aa; border-radius: 5px; flex-shrink: 0; width: 30px; height: 30px; position: absolute; left: 10px;top: 12px;}
 .frame4 {display: flex; flex-direction: column; gap: 10px; align-items: flex-start; justify-content: flex-start; flex-shrink: 0; position: absolute; left: calc(50% - 644.5px);top: 16px; overflow: visible;}
 html,
 body {
   margin: 0px;
   height: 100%;
 }