/* Figma Styles of your File */:root {
  /* Colors */
  --primary-800: #0068a3;
  --primary-600: #00a3ff;
  --primary-400: #a3ddff;
  --primary-200: #d6f0ff;
  --secondary-800: #3c00a3;
  --secondary-600: #8037ff;
  --secondary-400: #c5a3ff;
  --secondary-200: #e5d6ff;
  --denotative-success-800: #00a328;
  --denotative-success-600: #00d435;
  --denotative-success-400: #a3ffba;
  --denotative-success-200: #d6ffe0;
  --denotative-error-800: #a31400;
  --denotative-error-600: #ff1f00;
  --denotative-error-400: #ffaea3;
  --denotative-error-200: #ffdbd6;
  --denotative-warning-800: #a36c00;
  --denotative-warning-600: #ffa800;
  --denotative-warning-400: #ffe0a3;
  --denotative-warning-200: #fff1d6;
  --layout-800: #1a1a1a;
  --layout-700: #6b6b6b;
  --layout-600: #7c7c7c;
  --layout-400: #c5c5c5;
  --layout-300: #e1e1e1;
  --layout-200: #efefef;
  --layout-100: #fcfcfc;

  /* Fonts */
  --poppins-18-px: 500 18px/22px 'Poppins', sans-serif;
  --poppins-16-px: 400 16px/20px 'Poppins', sans-serif;
  --poppins-14-px: 400 14px/18px 'Poppins', sans-serif;

  /* Effects */

}

